* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mistral', sans-serif;
}

h1 {
    font-weight: bold;
}

p {
    font-weight: 200;
    text-align: center;
}

h5 {
    text-align: center;
}

a.enca {
    font-size: 2rem;
}

div.enca2 {
    font-size: 1.5rem;
}